{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <form method="post">
            <textarea name="description">{{ about.description }}</textarea><br>
            <button type="submit">Enregistrer</button>
        </form>
    {% else %}
        <p>{{ about.description }}</p>
    {% endif %}
{% endblock %}