{% extends "base.html.twig" %}

{% block title %}CYNA SaaS | Politique de confidentialité{% endblock %}

{% block body %}
    <div class="pb-32">
        <h1 class="text-4xl font-bold gap-4">Politique de Confidentialité</h1>
        <p class="px-4">
            Nous prenons très au sérieux la protection de votre vie privée. Cette politique de confidentialité a pour but de vous informer sur la manière dont nous collectons, utilisons, stockons et partageons vos données personnelles lorsque vous utilisez notre site internet CYNA SaSS.
        </p>
        
        <h2 class="text-3xl font-semibold mt-6">1. Informations collectées</h2>
        <p class="px-4">
            Lorsque vous utilisez notre Site, nous pouvons collecter les informations suivantes :
        </p>
        <ul class="px-4">
            <li>Informations personnelles : telles que votre nom, adresse e-mail, adresse postale, numéro de téléphone, etc.</li>
            <li>Données de navigation : telles que votre adresse IP, votre type de navigateur, les pages visitées sur notre Site, et les données collectées par les cookies.</li>
            <li>Informations de paiement : si vous effectuez un achat, des informations relatives à vos paiements peuvent être collectées via notre prestataire de paiement Stripe.</li>
        </ul>
        
        <h2 class="text-3xl font-semibold mt-6">2. Comment nous collectons vos données</h2>
        <p class="px-4">
            Nous collectons vos données personnelles de différentes manières :
        </p>
        <ul class="px-4">
            <li>Lors de votre inscription ou de votre utilisation de notre Site : par exemple, lors de la création d’un compte ou lors de la soumission d'un formulaire de contact.</li>
            <li>Via des cookies et technologies similaires : pour améliorer votre expérience sur notre Site. Vous pouvez gérer vos préférences en matière de cookies via les paramètres de votre navigateur.</li>
        </ul>

        <h2 class="text-3xl font-semibold mt-6">3. Utilisation des données</h2>
        <p class="px-4">
            Les données que nous collectons peuvent être utilisées pour les fins suivantes :
        </p>
        <ul class="px-4">
            <li>Fournir et améliorer nos services.</li>
            <li>Personnaliser votre expérience sur le Site.</li>
            <li>Traiter vos commandes et paiements.</li>
            <li>Vous envoyer des informations relatives à votre compte ou à votre utilisation du Site.</li>
            <li>Vous envoyer des offres promotionnelles, si vous y avez consenti.</li>
        </ul>

        <h2 class="text-3xl font-semibold mt-6">4. Partage des données</h2>
        <p class="px-4">
            Nous ne partageons vos informations personnelles qu’avec les parties suivantes :
        </p>
        <ul class="px-4">
            <li>Nos prestataires de services (ex : hébergement, traitement des paiements, services de marketing) qui nous aident à gérer notre Site et à fournir nos services.</li>
            <li>Autorités légales si cela est requis par la loi ou en réponse à une demande légale.</li>
        </ul>

        <h2 class="text-3xl font-semibold mt-6">5. Protection des données</h2>
        <p class="px-4">
            Nous mettons en place des mesures de sécurité techniques et organisationnelles pour protéger vos données personnelles contre tout accès non autorisé, perte ou divulgation accidentelle.
        </p>

        <h2 class="text-3xl font-semibold mt-6">6. Vos droits</h2>
        <p class="px-4">
            Conformément à la législation applicable, vous disposez de plusieurs droits concernant vos données personnelles, notamment :
        </p>
        <ul class="px-4">
            <li>Droit d’accès : vous pouvez demander une copie des informations que nous détenons à votre sujet.</li>
            <li>Droit de rectification : vous pouvez corriger toute information inexacte ou incomplète.</li>
            <li>Droit de suppression : vous pouvez demander la suppression de vos données personnelles, sous réserve de certaines exceptions.</li>
            <li>Droit à la portabilité : vous pouvez demander à recevoir vos données dans un format structuré et lisible par machine.</li>
            <li>Droit d’opposition : vous pouvez vous opposer à l’utilisation de vos données pour des raisons de marketing direct.</li>
        </ul>

        <p>Pour exercer ces droits, veuillez nous contacter à l’adresse suivante : contact@cyna.fr</p>

        <h2 class="text-3xl font-semibold mt-6">7. Cookies</h2>
        <p class="px-4">
            Nous utilisons des cookies pour améliorer votre expérience sur notre Site. Les cookies sont des petits fichiers stockés sur votre appareil qui nous aident à analyser la manière dont vous utilisez notre Site. Vous pouvez gérer vos préférences en matière de cookies en ajustant les paramètres de votre navigateur.
        </p>

        <h2 class="text-3xl font-semibold mt-6">8. Modifications de cette politique</h2>
        <p class="px-4">
            Nous pouvons mettre à jour cette politique de confidentialité de temps à autre pour refléter des changements dans nos pratiques de collecte ou de traitement des données. Nous vous informerons de toute modification importante en publiant une nouvelle version de la politique sur cette page.
        </p>
    </div>

{% endblock %}