{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        Si un compte existant est lié à cette adresse e-mail, un lien servant à réinitialiser votre mot de passe vous sera envoyé à cette adresse.
        Ce lien expirera dans 1 heure.
    </p>
    <p>Si vous ne recevez pas de mail, merci de vérifier votre dossier spam ou de  <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
{% endblock %}
