{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialisez votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email, {
            attr: {
                placeholder: 'Entrez votre adresse e-mail ici.',
                class: 'form-control'
            },
        }) }}
        <div>
            <small>
                
            </small>
        </div>

        <button class="btn btn-primary mt-2 p-2 bg-blue-500 text-white text-center rounded-lg hover:bg-blue-700 hover:cursor-pointer">Envoyer le lien de réinitialisation</button>
    {{ form_end(requestForm) }}
{% endblock %}