{% extends 'base.html.twig' %}

{% block title %}CYNA SaaS | Réinitialisation de mot de passe{% endblock %}}

{% block body %}
  <h1 class="text-2xl font-bold mb-4">Réinitialisez votre mot de passe</h1>

  {{ form_start(resetForm) }}
    {{ form_row(resetForm.plainPassword.first, {
      label: 'Nouveau mot de passe',
      attr: { placeholder: 'Entrez votre nouveau mot de passe' }
    }) }}

    {{ form_row(resetForm.plainPassword.second, {
      label: 'Répétez le mot de passe',
      attr: { placeholder: 'Confirmez votre mot de passe' }
    }) }}

    <button class="btn btn-primary mt-2 p-4 bg-blue-500 text-white text-center rounded-lg hover:bg-blue-700 hover:cursor-pointer">
      Réinitialisez votre mot de passe
    </button>
  {{ form_end(resetForm) }}
{% endblock %}
