{% extends "base.html.twig" %}
{% block title %}Bienvenue{% endblock %}

{% block body %}
<div>
    <h1>Bienvenue sur l'application de vente de solutions SaSS!</h1>
    <a href="">S'enregistrer</a>
    <a href="">Se connecter</a>
</div>
{% endblock %}