{% extends "base.html.twig" %}
{% block title %}bonjour{% endblock %}

{% block body %}
<p>salut sofiane et klaudiusz</p>
<a href="{{ url('app_redirect_test') }}">Aller a la deuxieme page</p>
{% endblock %}