{% extends "base.html.twig" %}
{% block title %}FAQ{% endblock %}
{% block body %}
    {% for categorie in categories %}
    <h2>RGPD</h2>
        <ul>
            {% for i in 0..(categorie.questions|length - 1) %}
                <li>
                    <strong> Question :</strong> {{ categorie.questions[i] }}<br>
                    <em> Réponse :</em> {{ categorie.reponses[i] ?? 'Pas de réponse disponible' }}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}