{% extends "base.html.twig" %}
{% block title %}FAQ{% endblock %}
{% block body %}
<div class="p-4">
    {% for categorie in categories %}
    <h2 class="max-w-md mx-auto">RGPD</h2>
        <ul>
            {% for i in 0..(categorie.questions|length - 1) %}
                <li class="max-w-md mx-auto">
                    <strong> Question :</strong> {{ categorie.questions[i] }}<br>
                    <em> Réponse :</em> {{ categorie.reponses[i] ?? 'Pas de réponse disponible' }}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
{% endblock %}