{% extends "base.html.twig" %}

{% block body %}

    <h1>Administration du site</h1>
    <ul>
        <li>
            <a href="{{ path('app_admin_users_list') }}">Utilisateurs</a>
        </li>
        <li>
            <a href="{{ path('app_admin_categories_list') }}">Catégories</a>
        </li>
        <li>
            <a href="{{ path('app_admin_produits_list') }}">Produits</a>
        </li>
    </ul>

{% endblock %}