{% extends "base.html.twig" %}

{% block body %}

<div>
    <h1>Administration du site</h1>
    <ul>
        <li>
            <a href="{{ path('app_admin_users_list') }}">Utilisateurs</a>
        </li>
        <li>
            <a href="{{ path('app_admin_categories_list') }}">Catégories</a>
        </li>
        <li>
            <a href="">Produits</a>
        </li>
    </ul>
</div>

{% endblock %}