{% extends "base.html.twig" %}

{% block body %}

<div>
    <h1>Administration du site</h1>
    <div>
        <a href="{{ path('app_admin_users_list') }}">Utilisateurs</a>
        <a href="{{ path('app_admin_categories_list') }}">Catégories</a>
        <a href="">Produits</a>
    </div>
</div>

{% endblock %}