{% extends "base.html.twig" %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Produits de la catégorie</h1>
    <div id="produits" class="produits">
    </div>
    <script>
    const pathname = window.location.pathname.split('/')
    const categorieId = pathname[1]

    let allProducts = []

    document.addEventListener("DOMContentLoaded", () => {
        fetch(`/categorie/${categorieId}/produits/list`)
            .then(res => res.json())
            .then(data => {
                allProducts = data.produits
                displayProducts(allProducts)
            })
    })

    function displayProducts(produits) {
        const container = document.getElementById("produits")
        container.innerHTML = ""
        if(produits.length === 0){
            const div = document.createElement("p")
            div.textContent = "Aucun produit trouvé pour cette catégorie."
            container.appendChild(div)
            return
        }

        produits.forEach(p => {
            const div = document.createElement("div")
            div.className = "article"
            div.innerHTML = 
               `<img src="${p.image}" alt="${p.nom}" />
                <h3>${p.nom}</h3>
                <p>${p.description}</p>
                <p>Note : ${p.note}</p>
                <p>OS : ${p.os}</p>
                <p>Éditeur : ${p.editeur}</p>
                <p>Catégorie : ${p.categorie}</p>
                <p>Prix : ${p.prix} €</p>`
            container.appendChild(div)
        })
    }
    </script>
{% endblock %}