{% extends 'base.html.twig' %}

{% block title %}CYNA SaaS | Paiement{% endblock %}


{% block body %}
    <div class="text-center">
        <p>Votre paiement a bien été effectué</p>
        <a class="italic text-gray-600 hover:text-gray-400" href="{{ path('app_index') }}">Retour à l'accueil</a>
        <a class="italic text-gray-600 hover:text-gray-400 ml-4" href="{{ path('app_user_profile', { id: app.user.id }) }}">Voir mes paiements</a>
    </div>
{% endblock %}