<footer class="bg-gray-800 text-white py-4  w-screen bottom-0 mt-6">
    <div class="flex justify-center gap-4">
        <a href="{{ path('app_faq') }}">FAQ</a>
        <p>•</p>
        <a href="{{ path('app_contact')}}">Support</a>
        <p>•</p>
        <a href="{{ path('app_about') }}">À Propos</a>
    </div>
    <div class="flex justify-center gap-4">
        <a>Mentions légales</a>
        <p>•</p>
        <a href="{{ path('app_rgpd_confidentiality')}}">Politiques de confidentialités</a>
    </div>
</footer>