<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/50 hidden duration-200 backdrop-blur-[1px] opacity-0" id="modal">
    <div class="bg-white rounded-lg shadow-xl w-full max-w-7xl overflow-hidden duration-300 translate-y-[100vh] m-1 max-h-[100vh] h-auto p-2" id="modal-box">
        <div id="modal-content" class="p-2 overflow-auto max-h-full">
            <!-- Contenu chargé dynamiquement -->
        </div>
    </div>
</div>