@import "tailwindcss";

input {
    @apply h-10 bg-gray-50 text-gray-800 text-sm border border-gray-400/70 hover:bg-white p-1 w-full  focus:border-blue-400 focus:bg-white outline-0 rounded-md transition-all z-50;
}
select {
    @apply h-10 bg-gray-50 text-gray-800 text-sm border border-gray-400/70 hover:bg-white p-1 w-full  focus:border-blue-400 focus:bg-white outline-0 rounded-md transition-all z-50;
}
input[type=file] {
    @apply border-blue-300 p-4 w-full text-indigo-400 bg-gray-50 hover:bg-gray-50 h-fit;
}
input[type=file]::file-selector-button {
    @apply mr-10 border-0 rounded-md text-white/80 px-3 py-2 bg-indigo-400/80 transition-all;
}
input[type=file]::file-selector-button:hover {
   @apply bg-indigo-500 text-white shadow-lg shadow-indigo-500/50 cursor-pointer; 
}
textarea {
    @apply min-h-20 overflow-y-scroll overflow-x-clip outline-none  bg-gray-50 text-gray-800 text-sm border border-gray-400/70 hover:bg-white p-2 w-full  focus:border-blue-400 focus:bg-white outline-0 rounded-md transition-all z-50;
    resize: none;
}

.panier-input {
    @apply text-center bg-transparent w-fit max-w-[50px] hover:bg-transparent border-none h-fit;
}
.filtre-input {
    @apply h-8  text-center text-sm;
}
.filtre-boxes {
    @apply grid grid-cols-4 md:grid-cols-6 items-center;
    input {
        @apply shadow-none w-fit self-center justify-self-end;
    }
    label {
        @apply text-sm font-medium text-gray-700 w-full text-start self-center mb-0 pl-2;
    }
}
.filtre-search {
    @apply max-w-full w-full text-start h-10;
}
.hidden-imp {
    display: none !important;
}

.ck-editor__main {
    max-height: 53vh;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    @apply border-none bg-transparent shadow-none drop-shadow-none w-1;
}
::-webkit-scrollbar-thumb{
    @apply rounded-lg w-full bg-gray-800;
}
::-webkit-scrollbar-button{
    @apply hidden;
}
::-webkit-scrollbar-corner{
    @apply bg-transparent;
}
::-webkit-scrollbar-track {
    @apply bg-transparent;
}
::-webkit-scrollbar-track-piece {
    @apply bg-transparent;
}

.help-text {
    @apply text-gray-700 italic text-sm;
}


.bo-page-ttl {
    @apply text-xl text-end mb-1 font-bold;
}

.admin-table-parent {
    @apply flex justify-start lg:justify-center items-center overflow-x-scroll;
}
.admin-table {
    @apply  w-full  shadow-xl mb-15 min-w-[750px];

    thead {
        @apply bg-gradient-to-r from-sky-400/70 to-indigo-300/70 to-65% p-2 h-12 text-sm font-medium backdrop-blur-sm;
    }

    tbody {
        @apply text-xs;
    }

    th:first-child {
        @apply rounded-tl-md border-l-0;
    }
    th:last-child {
        @apply rounded-tr-md;
    }

    th {
        @apply border-l border-black/20;
    }

    tr.modal-launcher {
        @apply hover:cursor-pointer h-7 hover:shadow-lg hover:shadow-indigo-400/30 border border-white hover:border-indigo-200/50 transition-all overflow-visible hover:bg-indigo-100 max-h-7 border-b-indigo-50;
    }

    .input{
        @apply mx-auto h-7 bg-gray-50 text-gray-800 text-sm hover:bg-white p-1 w-full focus:border focus:border-blue-400 hover:shadow-[0px_-4px_6px] hover:shadow-white/50 focus:shadow-[0px_-6px_7px] focus:shadow-white/65 focus:bg-white outline-0 rounded-md transition-all z-50;
    }
    .tablesorter-filter-row td{
        @apply p-1;
    }
    .tablesorter-headerRow {
        @apply h-7;
    }
    
    td.id {
        @apply text-center font-medium;
    }
    
    td {
        @apply border-l border-indigo-200/50 px-2 py-1 max-h-7;
    }
    tr.modal-launcher td:first-child {
        @apply border-l border-indigo-100;
    }
    tr.modal-launcher td:last-child {
        @apply border-r border-indigo-100;
    }
}

.admin-button {
    @apply rounded-md text-center bg-gray-300 hover:bg-gray-200 text-gray-800 hover:text-gray-600 border active:border-indigo-100 hover:shadow-md  p-2 hover:cursor-pointer transition-all duration-200 active:-translate-y-1 border-transparent hover:shadow-gray-600/70;
}
.admin-button.confirm {
    @apply  hover:bg-sky-600 bg-sky-500 hover:shadow-sky-500/50 text-white/90 hover:text-white;
}
.admin-button.delete {
    @apply  hover:bg-rose-600 bg-rose-500 hover:shadow-rose-500/50 text-white/90 hover:text-white;
}

.admin-form {
    @apply grid grid-cols-1 md:grid-cols-2 w-full gap-4 min-h-40 overflow-y-scroll;
}

.admin-form-section {
    @apply rounded-lg;
    label {
        @apply mb-2 font-medium text-gray-800;
    }
    input,select, textarea {
        @apply shadow-md;
    }

    .admin-form-checks {
        @apply grid grid-cols-2 w-fit;

        input {
            @apply shadow-none w-fit self-center justify-self-end;
        }
        label {
            @apply text-sm font-normal text-gray-700 w-full text-start self-center mb-0 pl-2;
        }
    }
}

.admin-form-section.secondary {
    @apply flex flex-col items-end justify-center;
    label {
        @apply text-sm italic font-normal text-gray-700 mb-0 pr-1;
    }
    input {
        @apply text-sm h-7 w-fit text-center;
    }
}

.admin-form-boolean {
    @apply flex justify-start h-fit items-center gap-3 p-2;

    label {
        @apply font-medium text-gray-800 w-full h-fit;
    }
    input {
        @apply w-auto;
    }
}

.modal-navigation-btn {
    @apply text-center rounded-lg bg-indigo-300/20 text-indigo-800/40 h-fit text-sm py-1 px-4 w-40 transition-all duration-200;
}
.modal-navigation-btn.activated {
    @apply bg-indigo-300 text-white/90 hover:bg-indigo-400 hover:shadow-md hover:shadow-indigo-500/50 hover:text-white hover:cursor-pointer;
}


.onglet-selected {
    @apply shadow-lg shadow-sky-500/30 bg-gradient-to-b from-indigo-300/30 to-sky-300/40 from-70%;
}

.produit-table {
    @apply min-w-full rounded-xl ;

    tr {
        @apply h-14 rounded-xl p-4;
    }
    tr.alt-row {
        @apply bg-indigo-400/10 rounded-xl;
    }
    th {
        @apply min-w-1/2;
    }
}

.button-navbar {
    @apply px-3 py-2 rounded-t-lg md:rounded-lg text-sm font-medium hover:bg-indigo-500/30 hover:shadow-lg hover:shadow-indigo-500/30 transition-all duration-200 border-b md:border-b-0 border-b-indigo-300 text-start md:text-center focus:bg-indigo-500/30 focus:shadow-lg focus:shadow-indigo-500/30;
}

.button {
    @apply rounded-2xl text-center bg-gradient-to-br text-white lg:text-white/90 hover:text-white hover:shadow-lg py-3 px-4 hover:cursor-pointer transition-all active:-translate-y-1 w-fit h-fit
}
.button.cancel {
    @apply bg-gray-400 hover:shadow-indigo-300/30;
}
.button.delete {
    @apply from-indigo-400 to-rose-500 from-30% hover:shadow-rose-500/30
}
.img-displayed {
    @apply border-2 border-indigo-700/30;
}