{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    {% if app.user %}
    {{ form_start(form, {
        attr: { class: 'max-w-3xl mx-auto p-6 bg-white rounded shadow-md' }
    }) }}
        <h1 class="text-2xl font-bold mb-4 text-center">Contactez-nous</h1>
        {{ form_row(form.email) }}
        {{ form_row(form.message) }}
    <button class="bg-blue-600 text-white py-2 px-4 rounded">Envoyer</button>
    {{ form_end(form) }}
    {% else %}
        <p class="text-center text-gray-700 text-lg mx-auto max-w-3xl">Vous devez être connecté pour pouvoir nous contacter.</p>
    {% endif %}
{% endblock %}