{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    {% if app.user %}
    {{ form_start(form) }}
        {{ form_row(form) }}
        <button class="bg-blue-600 text-white py-2 px-4 rounded">Envoyer</button>
    {{ form_end(form) }}
    {% else %}
        <p class="text-center text-gray-700 text-lg mx-auto max-w-3xl">Vous devez être connecté pour pouvoir nous contacter.</p>
    {% endif %}
{% endblock %}