{% extends 'base.html.twig' %}

{% block title %}CYNA SaaS | Nous contacter{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold mb-4 text-start">Nous contacter</h1>
    {% if app.user %}
    {{ form_start(form) }}
        <div class="bg-indigo-300/30 rounded-xl shadow mb-6 w-full md:w-2/3 lg:w-1/2 p-4 mx-auto my-auto">
            {{ form_row(form.email) }}
            {{ form_row(form.message) }}
            <button class="w-full mt-4 p-3 bg-gradient-to-br from-indigo-400 to-sky-400 transition-all text-white md:text-white/90 hover:text-white rounded-xl hover:shadow-lg shadow-indigo-500/50 hover:cursor-pointer">Envoyer</button>
        </div>
    {{ form_end(form) }}
    {% else %}
        <p class="text-center text-gray-700 text-lg mx-auto max-w-3xl">Vous devez être connecté pour pouvoir nous contacter.</p>
    {% endif %}
{% endblock %}