<div class="flex mb-2 justify-between bg-gradient-to-br from-rose-900/30 to-indigo-500/30 text-gray-800 px-3 py-1 rounded-xl items-center">
    <div>
        <h1 class="font-medium text-lg">Modifier mon mot de passe</h1>
    </div>
    <p class="close-modal text-white/70 py-1 px-4 bg-black/20 hover:bg-black/45 hover:text-white text-lg rounded-lg transition-all hover:cursor-pointer hover:shadow-sm">&times;</p>
</div>

{{ form_start(form) }}
    <div>   
        <div class="mb-3">
            {{ form_row(form.plainOldPassword) }}
            <p class="help-text text-end mt-1">Renseignez votre mot de passe actuel pour procéder.</p>
        </div>
        <div class="rounded-lg p-2 border border-indigo-600 mb-3">
            {{ form_row(form.plainNewPassword) }}
            <p class="help-text text-end mt-1">Le nouveau mot de passe doit contenir au minimum 6 caractères, une majuscule, une minuscule, un chiffre et un caractère spécial.</p>
        </div>
    </div>

    <div class="flex justify-end h-[60px] items-center gap-4">
        <button class="button from-gray-400 to-gray-400 close-modal">Annuler</button>
        <button type="submit" class="button from-indigo-400 to-sky-400 shadow-indigo-500/50">Enregistrer</button>
    </div>

{{ form_end(form) }}
