{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}
<div class="flex justify-center items-center h-screen">
    <div class="w-1/2 p-6 border border-gray-400 rounded-lg bg-gray-200">
        <h1 class="text-2xl font-bold mb-6 text-center">User Profile</h1>

        <div class="grid grid-cols-2 gap-4 mb-6">
            <a href="{{ path('account') }}" class="p-6 bg-blue-500 text-white text-center rounded-lg hover:bg-blue-700">Mon compte</a>
            <a href="{{ path('settings') }}" class="p-6 bg-blue-500 text-white text-center rounded-lg hover:bg-green-700">Settings</a>
            <a href="{{ path('commandes') }}" class="p-6 bg-blue-500 text-white text-center rounded-lg hover:bg-yellow-700">Mes commandes</a>
            <a href="{{ path('app_logout') }}" class="p-6 bg-blue-500 text-white text-center rounded-lg hover:bg-red-700">Logout</a>
        </div>
    </div>
</div>
{% endblock %}
